.background {
  position: absolute;
  display: none;
  top: -30%;
  left: 50%;
  max-width: 112vw;
  min-height: 100vh;
  margin: 0 auto;
  transform: translateX(-50%) rotateX(20deg) rotateY(-30deg);
  background: transparent;
  overflow: hidden;
  pointer-events: none;
  opacity: 0.5;
  z-index: 0;
}
code {
  font-feature-settings: 'liga', 'clig', 'zero';
  font-variant-numeric: lining-nums;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 3rem;
  overflow: hidden;
}
var {
  color: var(--color-secondary);
}
