.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 350px;
  border-radius: 0 0 $radius-default $radius-default;
  background: linear-gradient(var(--bg5) 0, var(--bg) 15%);
}
.footer__links {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 3em auto;
  &::after {
    right: 0;
  }
  &::before {
    left: 0;
  }
  &::after,
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: -1em;
    width: 35%;
    height: 2px;
    background: var(--color-secondary);
  }
}

.footer__link {
  margin: 0.5rem;
}
.footer__legend {
  font-style: italic;
}
