@media (min-width: 800px) {
  .resume {
    margin: 5rem auto;
    border-radius: $radius-default;
  }
  .projects {
    min-height: 900px;

    .card {
      &__content {
        max-width: 96%;
      }
      &__actions {
        min-height: 160px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: 720px) {
  .ham {
    display: none;
    pointer-events: none;
  }
  .small-nav {
    display: flex;
  }
}
@media (max-height: 450px) and (orientation: landscape) {
  .small-nav.show {
    max-height: 150px;
    font-size: 0.8em;
    .nav__item {
      margin: 4px 0;
    }
  }
}
