@media (min-width: 900px) {
  .resume {
    margin: 5rem auto;
    border-radius: $radius-default;
  }
}

@media (min-width: 720px) {
  .projects {
    .card {
      &__content {
        max-width: 96%;
      }
    }
  }
  .ham {
    display: none;
    pointer-events: none;
  }
  .small-nav {
    display: flex;
  }
}
@media (max-height: 450px) and (orientation: landscape) {
  .small-nav.show {
    max-height: 150px;
    font-size: 0.8em;
    .nav__item {
      margin: 4px 0;
    }
  }
  .interactive-menu {
    width: 100%;
  }
}
