/*
===========================
          Colors
===========================
*/
//-------  Dark  ---------//
$bg-color-dark: #151518;
$font-color-dark: #ececee;

$primary-color-dark: #ebff5b;
$secondary-color-dark: #ffb05b;
$danger-color-dark: #f37173;
//-------  Bg alphas  ---------//
$bg1-color-dark: #1c1c20;
$bg2-color-dark: #26262b;
$bg3-color-dark: #2f2f36;
$bg4-color-dark: #393940;
$bg5-color-dark: #2964f933;
//-------  Shadows  ---------//
$shadow1-dark: rgba(100, 100, 100, 0.2);
$shadow2-dark: rgba(100, 100, 100, 0.4);
$shadow3-dark: rgba(100, 100, 100, 0.5);
$shadow4-dark: rgba(100, 100, 100, 0.8);

//-------  Light  ---------//
$bg-color-light: #ececee;
$font-color-light: #151518;

$primary-color-light: #2964f9;
$secondary-color-light: #6631f7;
$danger-color-light: #e21c25;
//-------  Bg alphas  ---------//
$bg1-color-light: #dedee1;
$bg2-color-light: #ceced3;
$bg3-color-light: #c4c4c9;
$bg4-color-light: #b9b9c0;
$bg5-color-light: #ffb05b66;
//-------  Shadows  ---------//
$shadow1-light: rgba(0, 0, 0, 0.2);
$shadow2-light: rgba(0, 0, 0, 0.4);
$shadow3-light: rgba(0, 0, 0, 0.5);
$shadow4-light: rgba(0, 0, 0, 0.8);

/*
===========================
          Margins
===========================
*/

$shapes-margin: 3rem;
$shape-curve: 1.2;

/*
===========================
          Radius
===========================
*/

$radius-default: 10px;
