.btn {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.3em;
  opacity: 1;

  &:hover {
    opacity: 0.9;
    transition: opacity 250ms ease;
  }
  &:focus {
    outline: 1px solid currentColor;
  }
}
.link {
  font-weight: 600;
  opacity: 1;
  &:visited {
    color: currentColor;
  }
  &:hover,
  &:focus {
    opacity: 0.75;
  }
}
.btn,
.link {
  min-width: 2em;
  min-height: 2em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  outline: none;
  opacity: 0.9;
  background: transparent;
  color: currentColor;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  &.primary {
    color: var(--color-primary);
  }
  &.secondary {
    color: var(--color-secondary);
  }
  &.danger {
    color: var(--color-danger);
  }
}

.button-block {
  width: 100%;
}
.button-primary {
  background: var(--color-primary);
  color: var(--font);
}
.button-outline {
  border: 1px solid currentColor;
}
.button-flat {
  background: var(--bg1);
  color: currentColor;
}
.button-fab {
  background-color: transparent;
  font-size: 1.2em;
  border-radius: 50%;
}
.button-disabled {
  opacity: 0.4;
  pointer-events: none;
}
