.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1em;
  color: currentColor;
  border-radius: 6px;

  &__header {
    display: grid;
    grid-template-columns: 3em 1fr;
    grid-template-areas:
      'avatar title'
      '. subtitle';

    width: 100%;
    & > * {
      display: flex;
      margin: 0;
    }
  }

  &__title {
    grid-area: title;
    align-items: center;
    font-size: 1.4em;
  }
  &__subtitle {
    grid-area: subtitle;
    opacity: 0.8;
    font-size: 1.2em;
  }
  &__title,
  &__subtitle {
    width: 100%;
    padding: 0 0 0 2.5%;
    color: currentColor;
  }
  &__avatar {
    grid-area: avatar;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
  a.icon {
    padding: 0;
  }
  &__image,
  &__content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    color: currentColor;
    p {
      margin: 0;
      padding: 0;
      line-height: 170%;
    }
  }
  &__image {
    align-items: center;
    justify-content: center;
    padding: 1em 0 0;
    img {
      max-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      text-align: center;
    }
  }
  &__image:empty {
    height: 0;
  }
  &__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 65ch;
    height: auto;
    padding: 1em 0;
  }

  &__actions {
    width: 100%;
    padding: 1em;
    margin: auto;
    text-align: center;
  }
}
