.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1em;
  color: currentColor;
  border-radius: 6px;
  .card__header {
    display: grid;
    grid-template-columns: 3em 1fr;
    grid-template-areas:
      'avatar title'
      '. subtitle';

    width: 100%;
    & > * {
      display: flex;
      margin: 0;
    }
  }
  .card__title,
  .card__subtitle {
    width: 100%;
    padding: 0 0 0 2.5%;
    color: currentColor;
  }
  .card__title {
    grid-area: title;
    align-items: center;
    font-size: 1.4em;
  }
  .card__subtitle {
    grid-area: subtitle;
    opacity: 0.8;
    font-size: 1.2em;
  }

  .card__avatar {
    grid-area: avatar;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
  a.icon {
    padding: 0;
    svg {
      margin: auto;
    }
  }

  .card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1em 0;
    text-align: justify;
    color: currentColor;
    p {
      margin: 0;
      padding: 0;
      line-height: 170%;
    }
  }

  .card__actions {
    width: 100%;
    padding: 1em;
    margin: auto;
    text-align: center;
  }
}
