.nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 768px;
  min-height: 50px;
  padding: 1em 0;
  margin: 0 auto;
  background: var(--bg);
  z-index: 99000;
}
.nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(transparent, var(--bg2));
}
.nav__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  .nav__item {
    margin: auto 8px;
    list-style: none;
    text-align: center;
    .link.nav__link {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.small-nav {
  display: none;
  align-items: center;
  justify-content: space-around;
}
.small-nav.show {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 1px var(--font);
  justify-content: space-evenly;
  top: 10%;
  right: 10%;
  width: 200px;
  height: 300px;
  background: var(--bg3);

  -webkit-animation: 250ms cubic-bezier(0.44, 0.23, 0.53, 1.29) forwards
    animateSmallMenu;
  animation: 250ms cubic-bezier(0.44, 0.23, 0.53, 1.29) forwards
    animateSmallMenu;
}
.ham {
  position: relative;
  width: 27px;
  height: 21px;
  margin: 0 8px;
  cursor: pointer;
  .ham__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--font);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  .ham__top {
    top: 0;
  }
  .ham__bot {
    bottom: 0;
  }
  .ham__mid {
    top: 50%;
    transform-origin: center;
    transform: translateY(-50%);
  }
}
.nav.with-bg {
  background: var(--bg2);
  transition: background 250ms ease-in;
}
.ham__top.show {
  -webkit-animation: 250ms cubic-bezier(0.44, 0.23, 0.53, 1.29) forwards hamTop;
  animation: 250ms cubic-bezier(0.44, 0.23, 0.53, 1.29) forwards hamTop;
}
.ham__bot.show {
  -webkit-animation: 250ms cubic-bezier(0.44, 0.23, 0.53, 1.29) forwards
    hamBottom;
  animation: 250ms cubic-bezier(0.44, 0.23, 0.53, 1.29) forwards hamBottom;
}
.ham__mid.show {
  -webkit-animation: 250ms cubic-bezier(0.44, 0.23, 0.53, 1.29) forwards
    hamCenter;
  animation: 250ms cubic-bezier(0.44, 0.23, 0.53, 1.29) forwards hamCenter;
}

@-webkit-keyframes hamCenter {
  0% {
    transform: scaleX(1) translateY(-50%);
  }
  100% {
    transform: scaleX(0) translateY(-50%);
  }
}

@keyframes hamCenter {
  0% {
    transform: scaleX(1) translateY(-50%);
  }
  100% {
    transform: scaleX(0) translateY(-50%);
  }
}

@-webkit-keyframes hamTop {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: translateY(210%) rotateZ(135deg);
  }
}

@keyframes hamTop {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: translateY(210%) rotateZ(135deg);
  }
}

@-webkit-keyframes hamBottom {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: translateY(-200%) rotateZ(-135deg);
  }
}

@keyframes hamBottom {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: translateY(-200%) rotateZ(-135deg);
  }
}

@-webkit-keyframes animateSmallMenu {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateSmallMenu {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 720px) {
  .ham {
    display: none;
    pointer-events: none;
  }
  .small-nav {
    display: flex;
  }
}
