.projects {
  .card {
    .card__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      align-items: baseline;
      justify-content: center;
      gap: 1em;
    }
  }
}
