:root {
  --hue-dark: 240;
  --sat-dark: 7;
  --lumin-dark: 12;
  --alpha-dark: 100;

  --hue-primary-dark: 67;
  --sat-primary-dark: 100;
  --lumin-primary-dark: 68;
  --alpha-primary-dark: 100;

  --hue-secondary-dark: 31;
  --sat-secondary-dark: 100;
  --lumin-secondary-dark: 68;
  --alpha-secondary-dark: 100;

  --hue-danger-dark: 359;
  --sat-danger-dark: 92;
  --lumin-danger-dark: 68;
  --alpha-danger-dark: 100;

  --hue-light: 240;
  --sat-light: 2;
  --lumin-light: 88;
  --alpha-light: 100;

  --hue-primary-light: 223;
  --sat-primary-light: 95;
  --lumin-primary-light: 57;
  --alpha-primary-light: 100;

  --hue-secondary-light: 223;
  --sat-secondary-light: 95;
  --lumin-secondary-light: 57;
  --alpha-secondary-light: 100;

  --hue-danger-light: 357;
  --sat-danger-light: 78;
  --lumin-danger-light: 42;
  --alpha-danger-light: 100;
}

.dark-theme {
  --bg: hsla(
    var(--hue-dark),
    calc(var(--sat-dark) * 1%),
    calc(var(--lumin-dark) * 1%),
    calc(var(--alpha-dark) * 1%)
  );
  --bg1: hsla(
    var(--hue-dark),
    calc(var(--sat-dark) * 1%),
    calc((var(--lumin-dark) + 3) * 1%),
    calc(var(--alpha-dark) * 1%)
  );
  --bg2: hsla(
    var(--hue-dark),
    calc(var(--sat-dark) * 1%),
    calc((var(--lumin-dark) + 6) * 1%),
    calc(var(--alpha-dark) * 1%)
  );
  --bg3: hsla(
    var(--hue-dark),
    calc(var(--sat-dark) * 1%),
    calc((var(--lumin-dark) + 10) * 1%),
    calc(var(--alpha-dark) * 1%)
  );
  --font: hsla(
    var(--hue-dark),
    calc(var(--sat-dark) * 1%),
    calc((100 - var(--lumin-dark)) * 1%),
    calc(var(--alpha-dark) * 1%)
  );
  --color-primary: hsla(
    var(--hue-primary-dark),
    calc(var(--sat-primary-dark) * 1%),
    calc(var(--lumin-primary-dark) * 1%),
    calc(var(--alpha-primary-dark) * 1%)
  );
  --color-secondary: hsla(
    var(--hue-secondary-dark),
    calc(var(--sat-secondary-dark) * 1%),
    calc(var(--lumin-secondary-dark) * 1%),
    calc(var(--alpha-secondary-dark) * 1%)
  );
  --color-danger: hsla(
    var(--hue-danger-dark),
    calc(var(--sat-danger-dark) * 1%),
    calc(var(--lumin-danger-dark) * 1%),
    calc(var(--alpha-danger-dark) * 1%)
  );
}
.light-theme {
  --bg: hsla(
    var(--hue-light),
    calc(var(--sat-light) * 1%),
    calc(var(--lumin-light) * 1%),
    calc(var(--alpha-light) * 1%)
  );

  --bg1: hsla(
    var(--hue-light),
    calc(var(--sat-light) * 1%),
    calc((var(--lumin-light) + 3) * 1%),
    calc(var(--alpha-light) * 1%)
  );
  --bg2: hsla(
    var(--hue-light),
    calc(var(--sat-light) * 1%),
    calc((var(--lumin-light) - 6) * 1%),
    calc(var(--alpha-light) * 1%)
  );
  --bg3: hsla(
    var(--hue-light),
    calc(var(--sat-light) * 1%),
    calc((var(--lumin-light) - 10) * 1%),
    calc(var(--alpha-light) * 1%)
  );
  --font: hsla(
    var(--hue-light),
    calc(var(--sat-light) * 1%),
    calc((100 - var(--lumin-light)) * 1%),
    calc(var(--alpha-light) * 1%)
  );
  --color-primary: hsla(
    var(--hue-primary-light),
    calc(var(--sat-primary-light) * 1%),
    calc(var(--lumin-primary-light) * 1%),
    calc(var(--alpha-primary-light) * 1%)
  );

  --color-secondary: hsla(
    var(--hue-secondary-light),
    calc(var(--sat-secondary-light) * 1%),
    calc(var(--lumin-secondary-light) * 1%),
    calc(var(--alpha-secondary-light) * 1%)
  );
  --color-danger: hsla(
    var(--hue-danger-light),
    calc(var(--sat-danger-light) * 1%),
    calc(var(--lumin-danger-light) * 1%),
    calc(var(--alpha-danger-light) * 1%)
  );
}
