include ../mixins/sectionLayout

+sectionLayout('about', 'About', 'icon about', 'about-icon')
  p I am a Front end engineer who loves working on building web applications, either from scratch or with production code. I like to work to provide a great experience for final users and I always try to find the best balance between time and solution. I studied physical engineering many years ago, but now I want to specialize in finding and delivering digital solutions to customers.
  p My strong skill is for Javascript, either backend or front end, however, I like to achieve knowledge about new technologies and work every day to improve myself in the technologies that I dominate or in the weakest skills.
  p Today I can effortlessly work on technologies like HTML, CSS, Vanilla Javascript, TypeScript, Git/Github, Webpack, Pug, SASS, Jest, RxJs, Angular, Vue, React, and many others that help me build web applications that are maintainable and scalable.
