section.experience#experience
  article.card
    .card__header
      .card__avatar
        span.icon.myicon.experience-icon(aria-label="icon experience")
      h3.card__title Experience
    .card__content
      p I am looking for my first job as a developer... I worked almost half of my life in sales, about 15 years to my actual 38 years.
      p I have experience in managing sales teams of 4-12 members, staff training, customer service and expertise in the field of retail credit.
      button.badge.link#cv-button Get a copy of my resume
