header.header.wo-bg#header

  .title
    h1 Gus Ramírez
    h2 Front-end / Backend

    button.badge.link.cv-button Get a copy of my resume
    
  
  .art
    .face
      .glasses
    .fingers
    .lap
    .table