section.projects#projects
  article.card
    .card__header
      .card__avatar
        span.icon.myicon.projects-icon(
          aria-label="icon projects"
        )
      h3.card__title Projects
    
    .card__content#projects-container
