section.tools#skills
        article.card
          .card__header
            .card__avatar
              span.icon.myicon.tools-icon(
                aria-label="icon skills"
              )
            h3.card__title Work with
          .card__content
            .glider-contain
              .tools-inside.glider#tools
              button.glider-prev(aria-label="Previous") «
              button.glider-next(aria-label="Next") »
              .dots(role="tablist")
