extends ../templates/template

block content
  .resume#home

    include ../components/navBar    

    include ../components/header
        
    main

      include ../components/projects

      include ../components/skills
        
      include ../components/experience

      include ../components/education
      
      include ../components/about
    
      
    include ../components/footer
