extends ../templates/template

block content
  .resume#home

    //- <!--    Navbar    -->
    include ../components/navBar    

    //- <!--    Header    -->
    include ../components/header
        
    //- <!--    Main    -->
    main

      //- <!--   Section Projects    -->
      include ../components/projects

      .about-contact-container
        //- <!--   Section About    -->
        include ../components/about

        //- <!--   Section Contact    -->
        include ../components/contact
        
      //- <!--   Section Skills    -->
      include ../components/skills
      
      //- <!--   Section Education    -->
      include ../components/education
      
      //- <!--   Section Experience    -->
      include ../components/experience
      
    //- <!--    Footer    -->
    include ../components/footer

//- <!--    Inject scripts    -->
block scripts 
  each js in htmlWebpackPlugin.files.js
    script(type='text/javascript', src=js, async)